# Environments
.env
.env.*
!.env.example
.venv
venv/
ENV/
env.bak/
venv.bak/

# Database
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/ <-- REMOVED because it conflicts with frontend/src/lib
# lib64/ <-- REMOVED
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Node
node_modules/
frontend/dist/
frontend/build/
.npm
.yarn

# Vite / React
dist-ssr
*.local

# Solidity / Hardhat / Foundry
cache/
artifacts/
broadcast/
out/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
